[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
imutils = "*"
opencv-python = "*"
pytesseract = "*"
pillow = "*"
python-dotenv = "*"
google-cloud-vision = "*"
pyautogui = "*"
python3-xlib = "*"
flask = "*"
flask-restful = "*"
flask-jsonpify = "*"
google = "*"
beautifulsoup4 = "*"
requests = "*"
unidecode = "*"
vcrpy = "*"
future = "*"
fake-useragent = "*"

[requires]
python_version = "3.7"
